@import "reset";

$navbar-width: 6vw;
$navbar-trim-width: 3px;
$main-width: calc(94vw - 3px);

html { height: 100%; }

input:focus, select:focus, textarea:focus, button:focus { outline: none; }

body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  .navbar {
    font-size: 26px;
    z-index: 1;
    border-right: $navbar-trim-width solid #AE0000;
    position: fixed;
    background-color: black;
    height: 100%;
    width: $navbar-width;
    nav {
      text-align: center;
      a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 14px 0;
        .navLinkText {
          display: none;
        }
        &:hover {
          color: #AE0000;
          font-size: 12px;
          line-height: 26px;
          .navLinkText {
            display: unset;
          }
          .fa {
            display: none;
          }
        }
      }
    }
    ul {
      position: absolute;
      width: 100%;
      bottom: 0;
      li {
        text-align: center;
        a {
          padding: 14px 0;
          display: block;
          color: white;
          text-decoration: none;
          &:hover {
            color: #AE0000;
          }
        }
        &:last-child {
          a {
            padding-bottom: 200px;
          }
        }
      }
    }
  }
  #particles {
    width: calc(94vw - 3px);
    margin-left: calc(6vw + 3px);
    height: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
    .content {
      height: 60%;
      width: 70%;
      background-color: aquamarine;
      position: absolute;
      top: 20%;
      left: 15%;
      border-radius: 20px;
      #home {
        font-size: 20vw;
        text-align: center;
        color: white;
      }
    }
  }
  #portfolio {
    width: calc(94vw - 3px);
    margin-left: calc(6vw + 3px);
    height: 100%;
    background-color: red;
    .projectBox {
      width: 48%;
      font-size: 0;
      float: left;
      padding: 1%;
      background-color: lightgrey;
      text-align: center;
      h3 {
        font-size: 30px;
      }
      img {
        width: 100%;
        border-radius: 4px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  #contact {
    width: $main-width;
    margin-left: calc(6vw + 3px);
    background-color: purple;
    height: 40%;
    font-size: 0;
    h3 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 40px;
    }
    .formInputs {
      width: 46%;
      padding: 2%;
      input {
        background: none;
        border: none;
        border-bottom: 1px solid grey;
        width: 100%;
        padding: 0;
        font-size: 20px;
        line-height: 35px;
        margin: 4% auto;
      }
    }
    .formMessage {
      float: right;
      width: 46%;
      padding: 2%;
      textarea {
        background: none;
        padding: 0;
        font-size: 20px;
        width: 100%;
        height: auto;
        margin-top: 1.5vw;
      }
    }
    button {
      border: none;
      color: white;
      font-size: 14px;
      padding: 6px 140px;
      border-radius: 3px;
    }
  }
}
