@import "reset";

body {
  background-color: lightblue;
  nav {
    background-color: darken(lightblue, 10%);
    li {
      display: inline-block;
      padding: 14px 16px;
      &:hover {
        border-bottom: 2px solid #003153;
        padding-bottom: 12px;
      }
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
